
{% extends 'base.html' %}
{% block content %}
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2> RECENT PROJECTS</h2>
                </div>
                {% if projects %}
                <div class="row">
                    {% for Project in projects %}
                    <div class="col-md-6 col-lg-4">              
                        <div class="card border-0"><a href="{{ Project.url }}"><img class="card-img-top scale-on-hover" src="{{ Project.image.url }}" alt="Card Image"></a>
                            <div class="card-body text-center">
                                <h6><a href="{{ Project.url }}">{{ Project.title }}</a></h6>
                                <p class="text-muted card-text">{{Project.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="text-center"> No project added yet</p>
                {% endif %}
            </div>
        </section>
{% endblock %}