<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image: url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Maxius Emmanuel Shija</strong>. I work as Chemistry and ICT Tutor having a strong skills of coding as both Backend and Frontend for Web Applications. I have passion of Teaaching computer courses,Chemistry practicals, and work as Junior Software developer who can work with IT Team in any reputable Organization.</p><a class="btn btn-outline-primary" role="button" href="mailto:maxiusemmanueli@gmail.com">Hire me</a>
        </div>
    </div>
</section>
